<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tbtaobao.cloud.dao.PersonDao">

    <insert id="create">
        insert  into person
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="parameter.name != null">
                    Name,
                </if>
                <if test="parameter.sex != null">
                    Sex,
                </if>
                <if test="parameter.dates != null">
                    Date,
                </if>
                <if test="parameter.city != null">
                    City,
                </if>
                <if test="parameter.nation != null">
                    Nation,
                </if>
                <if test="parameter.polity != null">
                    Polity,
                </if>
                <if test="parameter.culture != null">
                    Culture,
                </if>
                <if test="parameter.marriage != null">
                    Marriage,
                </if>
                <if test="parameter.graduate != null">
                    Graduate,
                </if>
                <if test="parameter.spec != null">
                    Spec,
                </if>
                <if test="parameter.speci != null">
                    Speci,
                </if>
                <if test="parameter.wtype != null">
                    Wtype,
                </if>
                <if test="parameter.duty != null">
                    Duty,
                </if>
                <if test="parameter.depart != null">
                    Depart,
                </if>
                <if test="parameter.idcard != null">
                    IDcard,
                </if>
                <if test="parameter.address != null">
                    Address,
                </if>
                <if test="parameter.postcode != null">
                    Postcode,
                </if>
                <if test="parameter.homePhone != null">
                    HomePhone,
                </if>
                <if test="parameter.mobile != null">
                    Mobile,
                </if>
                <if test="parameter.email != null">
                    Email,
                </if>
                <if test="parameter.resume != null">
                    Resume,
                </if>
                <if test="parameter.photo != null">
                    Photo,
                </if>
            </trim>
            <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
                <if test="parameter.name != null">
                    #{parameter.name},
                </if>
                <if test="parameter.sex != null">
                    #{parameter.sex},
                </if>
                <if test="parameter.dates != null">
                    #{parameter.dates},
                </if>
                <if test="parameter.city != null">
                    #{parameter.city},
                </if>
                <if test="parameter.nation != null">
                    #{parameter.nation},
                </if>
                <if test="parameter.polity != null">
                    #{parameter.polity},
                </if>
                <if test="parameter.culture != null">
                    #{parameter.culture},
                </if>
                <if test="parameter.marriage != null">
                    #{parameter.marriage},
                </if>
                <if test="parameter.graduate != null">
                    #{parameter.graduate},
                </if>
                <if test="parameter.spec != null">
                    #{parameter.spec},
                </if>
                <if test="parameter.speci != null">
                    #{parameter.speci},
                </if>
                <if test="parameter.wtype != null">
                    #{parameter.wtype},
                </if>
                <if test="parameter.duty != null">
                    #{parameter.duty},
                </if>
                <if test="parameter.depart != null">
                    #{parameter.depart},
                </if>
                <if test="parameter.idcard != null">
                    #{parameter.idcard},
                </if>
                <if test="parameter.address != null">
                    #{parameter.address},
                </if>
                <if test="parameter.postcode != null">
                    #{parameter.postcode},
                </if>
                <if test="parameter.homePhone != null">
                    #{parameter.homePhone},
                </if>
                <if test="parameter.mobile != null">
                    #{parameter.mobile},
                </if>
                <if test="parameter.email != null">
                    #{parameter.email},
                </if>
                <if test="parameter.resume != null">
                    #{parameter.resume},
                </if>
                <if test="parameter.photo != null">
                    #{parameter.photo},
                </if>
            </trim>
    </insert>

    <resultMap id="BaseResultMap" type="com.tbtaobao.cloud.entities.Person">
        <id column="EmployeeID" property="employeeID" jdbcType="BIGINT"/>
        <result column="Name" property="name" jdbcType="VARCHAR"/>
        <result column="Sex" property="sex" jdbcType="VARCHAR"/>
        <result column="Date" property="date" jdbcType="VARCHAR"/>
        <result column="City" property="city" jdbcType="VARCHAR"/>
        <result column="Nation" property="nation" jdbcType="VARCHAR"/>
        <result column="Polity" property="polity" jdbcType="VARCHAR"/>
        <result column="Culture" property="culture" jdbcType="VARCHAR"/>
        <result column="Marriage" property="marriage" jdbcType="VARCHAR"/>
        <result column="Graduate" property="graduate" jdbcType="VARCHAR"/>
        <result column="Spec" property="spec" jdbcType="VARCHAR"/>
        <result column="Speci" property="speci" jdbcType="VARCHAR"/>
        <result column="Wtype" property="wtype" jdbcType="VARCHAR"/>
        <result column="Duty" property="duty" jdbcType="VARCHAR"/>
        <result column="Depart" property="depart" jdbcType="VARCHAR"/>
        <result column="IDcard" property="idcard" jdbcType="VARCHAR"/>
        <result column="Address" property="address" jdbcType="VARCHAR"/>
        <result column="Postcode" property="postcode" jdbcType="VARCHAR"/>
        <result column="HomePhone" property="homePhone" jdbcType="VARCHAR"/>
        <result column="Mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="Email" property="email" jdbcType="VARCHAR"/>
        <result column="Resume" property="resume" jdbcType="VARCHAR"/>
        <result column="Photo" property="photo" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getPersonById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select * from person where EmployeeID= #{id}
    </select>


    <select id="findPersonInfoLstCount" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM person
        where 1=1
        <if test="parameter.employeeID != null">
            and EmployeeID = #{parameter.employeeID}
        </if>
        <if test="parameter.name != null and parameter.name != '' ">
            and INSTR(Name, #{parameter.name}) > 0
        </if>
    </select>

    <select id="findPersonInfoLst" resultMap="BaseResultMap">
        SELECT * FROM person
        where 1=1
        <if test="parameter.employeeID != null">
            and EmployeeID = #{parameter.employeeID}
        </if>
        <if test="parameter.name != null and parameter.name != '' ">
            and INSTR(Name, #{parameter.name}) > 0
        </if>
         LIMIT #{page.startIndex},#{page.onePageCount}
    </select>

    <delete id="deletePersonInfo" parameterType="java.lang.Integer">
        DELETE FROM person WHERE EmployeeID = #{id}
    </delete>

    <update id="updatePersonInfo">
        UPDATE person
        <set>
            <if test="name != null">
                Name = #{name},
            </if>
            <if test="sex != null">
                Sex = #{sex},
            </if>
            <if test="dates != null">
                Date = #{dates},
            </if>
            <if test="city != null">
                City = #{city},
            </if>
            <if test="nation != null">
                Nation = #{nation},
            </if>
            <if test="polity != null">
                Polity = #{polity},
            </if>
            <if test="culture != null">
                Culture = #{culture},
            </if>
            <if test="marriage != null">
                Marriage = #{marriage},
            </if>
            <if test="graduate != null">
                Graduate = #{graduate},
            </if>
            <if test="spec != null">
                Spec = #{spec},
            </if>
            <if test="speci != null">
                Speci = #{speci},
            </if>
            <if test="wtype != null">
                Wtype = #{wtype},
            </if>
            <if test="duty != null">
                Duty = #{duty},
            </if>
            <if test="depart != null">
                Depart = #{depart},
            </if>
            <if test="idcard != null">
                IDcard = #{idcard},
            </if>
            <if test="address != null">
                Address = #{address},
            </if>
            <if test="postcode != null">
                Postcode = #{postcode},
            </if>
            <if test="homePhone != null">
                HomePhone = #{homePhone},
            </if>
            <if test="mobile != null">
                Mobile = #{mobile},
            </if>
            <if test="email != null">
                Email = #{email},
            </if>
            <if test="resume != null">
                Resume = #{resume},
            </if>
            <if test="photo != null">
                Photo = #{photo},
            </if>
        </set>
        where
        EmployeeID = #{employeeID}
    </update>
</mapper>