<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tbtaobao.cloud.dao.PersonDao">

    <insert id="create" parameterType="Person" useGeneratedKeys="true" keyProperty="id">
        insert  into person(name) values (#{name})
    </insert>

    <resultMap id="BaseResultMap" type="com.tbtaobao.cloud.entities.Person">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <id column="employeeid" property="employeeid" jdbcType="BIGINT"/>
        <id column="name" property="name" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getPersonById" parameterType="Long" resultMap="BaseResultMap">
        select * from person where id= #{id}
    </select>
</mapper>